[submodule "Thesis"]
	path = Thesis
	url = https://github.com/LukePepin/Thesis.git
	branch = main
[submodule "Hanoi-Algorithms"]
	path = Hanoi-Algorithms
	url = https://github.com/URI-ISE/Hanoi-Algorithms.git
	branch = codex/hanoi-demo-prep
[submodule "micro-ecc"]
	path = src/sentry_logic/sentry_logic/c_src/micro-ecc
	url = https://github.com/kmackay/micro-ecc.git
